
// ====== PORTFOLIO CALL FOR ACTION BUTTON
@mixin portfolioBtn {

  .portfolioBtn {
    padding: 2% 6%;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.3s;
    border: 3px solid $color-mainGreen;
    color: $color-mainGreen;
    overflow: hidden;
  }

  .portfolioBtn:after {
    content: '';
    z-index: -1;
    position: absolute;
    transition: all 0.3s;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: $color-mainGreen;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  .portfolioBtn:hover,
  .portfolioBtn:active {
    color: $color-mainWhite;
    z-index: 1;
  }

  .portfolioBtn:hover:after {
    height: 260%;
    opacity: 1;
  }

  .portfolioBtn:active:after {
    height: 400%;
    opacity: 1;
  }
}

// ====== h2

@mixin headlineTwo {
  color: $color-mainBlack;
  font-size: 3rem;
  margin:0;
  padding: 5% 0;
  text-transform: uppercase;
}
