// ====== FONTS ======

$font-nunito: 'Nunito', sans-serif;
$font-righteous:'Righteous', cursive;


// ====== COLORS ======

$color-bgHeader: #010005;
$color-mainWhite: #F8F2E2;
$color-mainGreen: #3BC391;
$color-mainBlack: #1d1d1d;
$color-mainBlue: #2f79c3;
$color-mainGrey: #374047;
$color-mainRed: #eb4549;


// ====== MEDIA QUERIES ======


$media400: "screen and (max-width: 400px)";
$media600: "screen and (max-width: 600px)";
$media700: "screen and (max-width: 700px)";
$media750: "screen and (max-width: 750px)";
$media900: "screen and (max-width: 900px)";
$media1050: "screen and (max-width: 1050px)";
$media1130: "screen and (max-width: 1130px)";