/*===== PARTIALS ======*/
@import "normalize";
@import "variables";
@import "mixins";
@import "fullPagePlugin";

body {
  text-align: center;
}

.pasek {
  height: 20%;
  background-color: green;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: silver;
}

#bg-hero {
  background: url("../assets/images/macbook.jpg") center;
  background-size: cover;
  width: 100%;
}

#fg-hero {
  background: url("../assets/images/macbook2.jpg") center;
  background-position: right;
  background-size: cover;
  opacity: .6;
  width: 100%;
}

.section {
  text-align: center;
}

.button {
  color: black;
  background-color: white;
}

.fp-controlArrow.fp-prev {
  left: 150px;
}

// ====== MAIN DESKTOP NAVIGATION ======

.main-nav {
  position: fixed;
  height: 100vh;
  width: 10%;
  color: black;
  background-color: white;
  z-index: 100000;
  top: 0;
  left: 0;
}

.main-nav-btn {
  border: 1px solid red;
  height: 20%;
  width: 100%;
}

.main-nav-btn a {
  display: block;
  height: 100%;
  width: 100%;
}

.main-logo img {
  width: 100%;
}