/*===== PARTIALS ======*/
@import "normalize";
@import "variables";
@import "mixins";


body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-mainBlack;
  font-family: $font-nunito;
  font-size: 16px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  margin: 0 7% 0 13%;
  //margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

// ====== HEADER SECTION ======

.hero {
  background: url("../assets/images/macbook-blur.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.main-header {
  font-size: 2rem;
  font-family: $font-righteous;
  color: $color-mainWhite;
  padding: 6% 0;
}

.main-header h1 {
  font-size: 5rem;
}

.main-header h1 span {
  color: $color-mainGreen;
  font-size: 7rem;
  text-transform: uppercase;
}

.main-header .arrow-down {
  color: $color-mainGreen;
  font-size: 6rem;
  display: block;
  margin: 10rem 0 3rem;
  transition: .2s;
}

.main-header .arrow-down:hover {
  color: darken($color-mainGreen, 10%);
  transition: .2s;
}


// styles for portfolio button
@include portfolioBtn;

// NAVIGATION BAR STYLES =====
.nav-bar {
  color: $color-mainBlack;
  background-color: $color-mainWhite;
  height: 100vh;
  left: 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 8vw;
  z-index: 99999999;
}

.main-logo img {
  width: 100%;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu .fa {
  display: block;
  font-size: 4vw;
  padding-top: 20%;
}

.menu li {
  height: 20vh;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.menu a[href$="about"] i:hover {
  color: darken($color-mainGreen, 10%);
}

.menu a[href$="skills"] i:hover {
  color: darken($color-mainBlue, 10%);
}

.menu a[href$="portfolio"] i:hover {
  color: darken($color-mainRed, 10%);
}

.menu a[href$="contact"] i:hover {
  color: darken($color-mainGrey, 10%);
}

.menu li a {
  display: block;
  font-size: 1.2vw;
  height: 100%;
}

// ====== ABOUT SECTION ======

.about {
  background-color: $color-mainGreen;
}

.about h2 {
  @include headlineTwo;
}

.about-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8%;
}

.about-image {
  position: relative;
  width: 40%;
  text-align: center;
}

.about-image img {
  bottom: 0;
  left: 20%;
  position: absolute;
  max-width: 350px;
}

.about-text {
  padding-bottom: 5%;
  width: 50%;
  text-align: right;
}

.about-quote {
  background-color: darken($color-mainGreen, 5%);
  font-size: 2rem;
  font-weight: bolder;
  padding: 4% 0 3%;
  width: 100%;
}

.about-quote p {
  display: inline-block;
}

.about-quote footer {
  font-size: 1rem;
  font-weight: normal;
  text-align: right;
}

// ====== SKILLS SECTION ======

.skills {
  background-color: $color-mainBlue;
}

.skills h2 {
  @include headlineTwo;
}

.skills-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-headline i,
.skills-future i {
  font-size: 3rem;
}

.skills-headline p,
.skills-future p {
  text-transform: uppercase;
  font-weight: bolder;
  padding: 2% 0;
}

.skills-set {
  background-color: darken($color-mainBlue, 5%);
  margin: 2% 0;
  padding: 2% 0;
}

.skills-set:first-child {
  margin-top: 0;
}

.skills img {
  display: inline-block;
  margin: 2%;
}

.skills-bar-future {
  background-color: darken($color-mainBlue, 10%);
  padding: 2% 0;
}
.skills-future p {
  text-transform: uppercase;
  font-weight: bolder;
}






// ====== PORTFOLIO SECTION ======

.portfolio {
  background-color: $color-mainRed;
}

.portfolio h2 {
  @include headlineTwo;
}

.slide {
  margin-bottom: 5%;
}

.image-portfolio-main,
.image-portfolio-side {
  border: 5px solid $color-mainBlack;
  display: inline-block;
  max-width: 500px;
}

.text-portfolio-main,
.text-portfolio-side{
  background: darken($color-mainRed, 5%);
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.55;
  margin-left: 5%;
  padding: 5%;
  width: 40%;
  vertical-align: top;
}

.image-portfolio-side {
  border: none;
}

.text-portfolio-side {
  line-height: initial;
  padding: 2%;
  text-align: left;
}

.text-portfolio-side h3 {
  margin: 3% 0;
}

.portfolio-skills-list {
  margin: 3% 0;
  padding: 0;
  list-style: none;
}

.portfolio-skills-list li {
  background: $color-mainRed;
  border-radius: 5px;
  color: $color-mainBlack;
  display: inline-block;
  margin: 3px;
  padding: 1px 4px;
}

.seeBtn {
  background-color: $color-mainGrey;
  color: $color-mainWhite;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 5% 0 0;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: .2s;
}

.seeBtn:hover {
  background: $color-mainBlack;
  color: $color-mainRed;
  transition: .2s;
}

.owl-theme .owl-controls .owl-buttons div {
  padding: 20px !important;
}

.owl-theme .owl-buttons i{
  margin-top: 2px;
  font-size: 2rem;
}

.owl-pagination {
  padding-bottom: 40px;
}

//To move navigation buttons outside use these settings:

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
  background: none;
  left: -45px;
  top: 150px;
}

.owl-theme .owl-controls .owl-buttons .owl-next{
  background: none;
  right: -45px;
  top: 150px;
}



// ====== CONTACT SECTION ======

.contact {
  background-color: $color-mainGrey;
}

.contact h2 {
  @include headlineTwo;
}

.contact-text {
  font-size: 2.8rem;
  font-weight: 900;
  text-transform: uppercase;
}

.contact-text:last-child {
  font-size: 2rem;
}

.social-icons-list {
  list-style: none;
  margin: 5% 0;
}

.social-icons-list li {
  display: inline-block;
  margin: 0 5%;

}

.social-icons-list li a {
  display: block;
}

.social-icons-list i {
  color: $color-mainBlack;
  font-size: 6rem;
  transition: .2s;
}

.gmail a:hover i {
  color: #dd4b39;
  transition: .2s;
}

.github a:hover i {
  color: #999999;
  transition: .2s;
}

.linkedin a:hover i {
  color: #007bb5;
  transition: .2s;
}

.twitter a:hover i {
  color: #00aced;
  transition: .2s;
}

.download-resume {
  display: inline-block;
  font-size: 2rem;
  margin: 3%;
}

.download-resume:hover i {
  color: $color-mainRed;
  transition: .2s;
}

.download-resume i {
  margin-right: 20px;
  transition: .2s;
}

.contact-bar {
  background: $color-mainBlack;
  color: $color-mainGrey;
  padding: 5%;
}

.contact-bar i {
  color: $color-mainRed;
  animation: hearthBeating 1.3s infinite;
  margin: 0 2px;
}

@keyframes hearthBeating {
  0% {transform: scale(1)}
  15% {transform: scale(1.2)}
  35% {transform: scale(1)}
  50% {transform: scale(1.4)}
  100% {transform: scale(1)}
}