/*===== PARTIALS ======*/
@import "normalize";
@import "variables";
@import "mixins";


body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-mainBlack;
  font-family: $font-nunito;
  font-size: 16px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  margin: 0 7% 0 13%;
  //margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

// ====== HEADER SECTION ======

.hero {
  background: url("../assets/images/macbook-blur.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.main-header {
  font-size: 2rem;
  font-family: $font-righteous;
  color: $color-mainWhite;
  padding: 6% 0;
}

.main-header h1 {
  font-size: 5rem;
}

.main-header h1 span {
  color: $color-mainGreen;
  font-size: 7rem;
  text-transform: uppercase;
}

.main-header .arrow-down {
  color: $color-mainGreen;
  font-size: 6rem;
  display: block;
  margin: 10rem 0 3rem;
  transition: .2s;
}

.main-header .arrow-down:hover {
  color: darken($color-mainGreen, 10%);
  transition: .2s;
}


// styles for portfolio button
@include portfolioBtn;

// NAVIGATION BAR STYLES =====
.nav-bar {
  color: $color-mainBlack;
  background-color: $color-mainWhite;
  height: 100vh;
  left: 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 8vw;
  z-index: 99999999;
}

.main-logo img {
  width: 100%;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu .fa {
  display: block;
  font-size: 4vw;
  padding-top: 20%;
}

.menu li {
  height: 20vh;
}

.menu a[href$="about"] i:hover {
  color: $color-mainGreen;
}

.menu a[href$="skills"] i:hover {
  color: $color-mainBlue;
}

.menu a[href$="portfolio"] i:hover {
  color: $color-mainRed;
}

.menu a[href$="contact"] i:hover {
  color: $color-mainGrey;
}

.menu li a {
  display: block;
  font-size: 1.2vw;
  height: 100%;
}

.active {
  background-color: red;
}

// ====== ABOUT SECTION ======

.about {
  background-color: $color-mainGreen;
}

.about h2 {
  @include headlineTwo;
}

.about-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8%;
}

.about-image {
  position: relative;
  width: 40%;
  text-align: center;
}

.about-image img {
  bottom: 0;
  left: 20%;
  position: absolute;
  max-width: 350px;
}

.about-text {
  padding-bottom: 5%;
  width: 50%;
  text-align: right;
}

.about-quote {
  background-color: darken($color-mainGreen, 5%);
  font-size: 2rem;
  font-weight: bolder;
  padding: 4% 0 3%;
  width: 100%;
}

.about-quote p {
  display: inline-block;
}

.about-quote footer {
  font-size: 1rem;
  font-weight: normal;
  text-align: right;
}

// ====== SKILLS SECTION ======

.skills {
  background-color: $color-mainBlue;
}

.skills h2 {
  @include headlineTwo;
}

.skills-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-headline i,
.skills-future i {
  font-size: 3rem;
}

.skills-headline p,
.skills-future p {
  text-transform: uppercase;
  font-weight: bolder;
  padding: 2% 0;
}

.skills-set {
  background-color: darken($color-mainBlue, 5%);
  margin: 2% 0;
  padding: 2% 0;
}

.skills-set:first-child {
  margin-top: 0;
}

.skills img {
  display: inline-block;
  margin: 2%;
}

.skills-bar-future {
  background-color: darken($color-mainBlue, 10%);
  padding: 2% 0;
}
.skills-future p {
  text-transform: uppercase;
  font-weight: bolder;
}






// ====== PORTFOLIO SECTION ======

.portfolio {
  background-color: $color-mainRed;
}

.portfolio h2 {
  @include headlineTwo;
}

// ====== CONTACT SECTION ======

.contact {
  background-color: $color-mainGrey;
}

.contact h2 {
  @include headlineTwo;
}
